In [2]:
import tarfile
import pandas as pd

In [6]:
TAR_FILE = '../datafiles/data_hu_lemma.tar.gz'
OUT_PKL = '../pandas/lemma_articles.pkl'

In [4]:
tar = tarfile.open(TAR_FILE, 'r:gz')
names = tar.getnames()
print(len(names), names[0], names[1])

1561444 data_hu data_hu/18DFbmABVo8DrD4Xix2D.txt

In [5]:
article_ids = [x.split('/')[1].split('.')[0] for x in names[1:]]
article_ids[0]

'18DFbmABVo8DrD4Xix2D'

In [7]:
tar = tarfile.open(TAR_FILE, 'r:gz')
data = []
index = 0
for member in tar.getmembers():
    f = tar.extractfile(member)
    if f is not None:
        content = f.read()
        data.append((article_ids[index], content.decode('utf-8')))
        if index % 10000 == 0:
            print(index)
        index += 1

df = pd.DataFrame(data, columns = ['article_id', 'article'])
df.to_pickle(OUT_PKL)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000

In [8]:
df.head()

             article_id                                            article
0  18DFbmABVo8DrD4Xix2D  vite for lite om skiftarbeid på sokkel $. kunn...
1  S9LObmABVo8DrD4XGCRo  12.00 rapport $. 12.05 agenda 13.00 Sportspege...
2  a9fQbmABVo8DrD4XF26M  fotball italiensk serie A. Hellas Verona $- La...
3  eMLGbmABVo8DrD4X7Jn4  $- Høyre vinne på å sitte musestille $. for fø...
4  NcPHbmABVo8DrD4XSJE4  fagbevegelse frykte minstelønn $. norsk fagbev...

In [ ]:
df_read = pd.read_pickle('../pandas/raw_articles.pkl')
df_read['article'].tolist()